node_modules
public
.tmp
.idea
dump.rdb
.rdb
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
