node_modules
public
.tmp
.idea
dump.rdb
*.rdb
*.fdf
client/bower_components
client/app/users
dist
/server/config/local.env.js
npm-debug.log
coverage

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
