<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="updateCustomer.cancel()"><i class="fa fa-times fs-14"></i></button>
  <h3 class="modal-title">Update Customer</h3>
</div>
<div class="modal-body p-b-10">
  <div class="row margin-negative-left-15 margin-negative-right-15">
    <div class="col-md-6">
      <div class="row margin-negative-left-15 margin-negative-right-15">
        <div class="col-sm-9">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.firstName">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>MI</label>
            <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.middleInitial">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.lastName">
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.dateOfBirth"/>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.phone">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="updateCustomer.customerInfo.email">
      </div>
      <div class="form-group">
        <label>Drivers License Number</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.driverLicenseID">
      </div>
    </div>
    <!-- Column Two -->
    <div class="col-md-6">
      <div class="form-group">
        <label>Street Address</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.streetAddress">
      </div>

      <div class="form-group">
        <label>City/Town</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.city">
      </div>
      <div class="form-group">
        <label>Zip Code</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.zipCode">
      </div>

      <div class="row margin-negative-left-15 margin-negative-right-15">
        <div class="col-lg-12">
          <div class="form-group">
            <label>State</label>
            <ui-select ng-model="updateCustomer.customerInfo.state" theme="bootstrap" ng-required="true">
              <ui-select-match placeholder="States">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="state in updateCustomer.states | filter: $select.search">
                <div ng-bind-html="state.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" ng-model="updateCustomer.customerInfo.country">
      </div>
      <div class="form-group">
        <label>Sources</label>
        <ui-select ng-model="updateCustomer.customerInfo.source" theme="bootstrap" ng-required="true">
          <ui-select-match placeholder="Sources">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="source in updateCustomer.sources | filter: $select.search">
            <div ng-bind-html="source.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning btn-o" type="button" ng-click="updateCustomer.cancel()">Cancel</button>
  <button class="btn btn-primary btn-o" type="button" ng-click="updateCustomer.ok()">
    <i class="fa fa-spin fa-spinner" ng-if="updateCustomer.updatingCustomer"></i>&nbsp;&nbsp;{{updateCustomer.updatingCustomer
    ? 'Updating Now...' : 'Update now'}}
  </button>
</div>

