<!-- top section -->
<div class="row wrapper border-bottom white-bg page-heading p-r-0">
  <!-- breadcrumbs -->
  <div class="col-lg-4">
    <h2>{{customer.info.name}}</h2>
    <ol class="breadcrumb">
      <li ui-sref="index.customer" class="cursor-pointer">
        <a>Customers</a>
      </li>
      <li class="active">
        <strong>Profile</strong>
      </li>
    </ol>
  </div>
  <!-- ./ breadcrumbs -->
  <!-- Profile tabs -->
  <div class="col-sm-8 p-r-0">
    <div class="col-sm-3 no-padding">

    </div>
    <div class="col-sm-9 no-padding">
      <div ng-repeat="tab in customer.tabs" ng-click="customer.setActiveTab(tab)" class="col-sm-4 no-margins no-padding text-center" style="width:121px;">
        <div class="profile-tab {{tab.bg_color}} no-border-right">
          <div class="profile-tab-icon m-t-5 m-l-26 no-border">
            <i class="fa {{tab.icon}} f-sz-22"></i>
          </div>
          <small class="p-t-42">{{tab.heading}}</small>
        </div>
      </div>
    </div>
  </div>
  <!-- ./profile Tabs -->
</div>
<!-- ./top section -->
<div ui-view></div>
<div ng-show="$state.is('index.customer.profile')" class="wrapper wrapper-content">
  <div class="row animated fadeInRight">

    <!-- Customer Information -->
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <!-- section tittle -->
        <div class="ibox-title">
          <h5>Customer Details</h5>
        </div>
        <!-- ./section title -->

        <!-- section  content -->
        <div>
          <div class="ibox-content no-padding border-left-right">
            <div class="customer-cover-photo">
              <img alt="image" class="img-responsive" src="assets/images/a1.jpg">
            </div>
          </div>
          <div class="ibox-content profile-content p-b-0">
            <ul class="list-unstyled m-t-xs">
              <li class="address-li">
                <div class="row">
                  <div class="col-lg-1">
                    <span class="fa fa-home m-r-sm"></span>
                  </div>
                  <div class="col-lg-11 p-l-2">
                    <span>{{customer.info.address}}</span>
                  </div>
                </div>
              </li>
              <li class="address-li">
                <span class="fa fa-phone m-r-sm"></span>
                {{customer.info.phone}}
              </li>
              <li class="address-li">
                <span class="fa fa-envelope m-r-sm"></span>
                {{customer.info.email}}
              </li>
            </ul>

            <div class="row customer-social-media-feed">
                <h5 class="m-t-10 m-b-18">Social Media feed</h5>
                <span class="pull-right social-feed-icons">
                    <button class="btn btn-circle m-r-xs btn-facebook" tooltip-placement="top" uib-tooltip="@facebook"><i class="fa fa-facebook"></i></button>
                    <button class="btn btn-circle m-r-xs btn-twitter"  tooltip-placement="top" uib-tooltip="@twitter"><i class="fa fa-twitter"></i></button>
                    <button class="btn btn-circle m-r-xs btn-instagram" tooltip-placement="top" uib-tooltip="@instagram"><i class="fa fa-instagram"></i></button>
                  </span>
                <div class="ibox">
                  <div class="ibox-content">
                    <div class="chat-activity-list">
                      <div class="chat-element">
                        <a href="" class="pull-left">
                          <i class="fa fa-twitter twitter" aria-hidden="true" style="font-size: 18px;"></i>
                        </a>
                        <div class="media-body ">
                          <small class="pull-right text-navy">1m ago</small>
                          <strong>John Smith</strong>
                          <p class="m-b-xs">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                          </p>
                          <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                      </div>
                      <div class="chat-element">
                        <a href="" class="pull-left">
                          <i class="fa fa-instagram instagram" aria-hidden="true" style="font-size: 18px;"></i>
                        </a>
                        <div class="media-body">
                          <small class="pull-right text-navy">1m ago</small>
                          <strong>John Smith</strong>
                          <div class="row"  style="margin-bottom: 10px; margin-top: 10px;">
                            <div class="col-xs-2 p-r-0">
                              <a href="">
                                <img style="border-radius: 5%; height: 50px; width: 50px;"
                                     alt="image" src="http://img.autobytel.com/car-reviews/autobytel/11694-good-looking-sports-cars/2016-Ford-Mustang-GT-burnout-red-tire-smoke.jpg">
                              </a>
                            </div>
                            <div class="col-xs-10 no-margins">
                              Witty Instagram caption coud go here.... #MustFinishCustomerPage
                            </div>
                          </div>
                          <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                      </div>
                      <div class="chat-element">
                        <a href="" class="pull-left">
                          <i class="fa fa-instagram instagram" aria-hidden="true" style="font-size: 18px;"></i>
                        </a>
                        <div class="media-body ">
                          <small class="pull-right text-navy">1m ago</small>
                          <strong>John Smith</strong>
                          <div class="row"  style="margin-bottom: 10px; margin-top: 10px;">
                            <div class="col-xs-2 p-r-0">
                              <div class="pull-left">
                                <a href=""><img alt="image" src="http://img.autobytel.com/car-reviews/autobytel/11694-good-looking-sports-cars/2016-Ford-Mustang-GT-burnout-red-tire-smoke.jpg"
                                                style="border-radius: 5%; height: 50px; width: 50px;"></a>
                              </div>
                            </div>
                            <div class="col-xs-10 no-margins">
                              Witty Instagram caption coud go here.... #MustFinishCustomerPage
                            </div>
                          </div>
                          <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                      </div>
                      <div class="chat-element">
                        <a href="" class="pull-left">
                          <i class="fa fa-twitter twitter" aria-hidden="true" style="font-size: 18px;"></i>
                        </a>
                        <div class="media-body ">
                          <small class="pull-right text-navy">1m ago</small>
                          <strong>John Smith</strong>
                          <p class="m-b-xs">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                          </p>
                          <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                      </div>
                      <div class="chat-element">
                        <a href="" class="pull-left">
                          <i class="fa fa-twitter twitter" aria-hidden="true" style="font-size: 18px;"></i>
                        </a>
                        <div class="media-body ">
                          <small class="pull-right text-navy">1m ago</small>
                          <strong>John Smith</strong>
                          <p class="m-b-xs">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                          </p>
                          <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>
                  </div>
                </div>

            </div>

          </div>
        </div>
        <!-- ./section content -->

      </div>
    </div>
    <!-- ./customer information -->

    <!-- activities -->
    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Activites</h5>
        </div>

        <div class="ibox-content">
          <div>
            <div class="deals-activity">
              <div class="deal">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="media">
                      <div class="media-left pull-left vehicle-of-interest">
                        <a href="#">
                          <img class="media-object" src="http://67.media.tumblr.com/793ddbefed69c85bf663ca653b3727cd/tumblr_n57kfgYQz91sbyy0vo1_500.png" alt="Generic placeholder image">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading f-s-13 m-t-0">2017 Ford F-150 Raptor &nbsp;&nbsp;<span class="badge badge-primary source-badge-align">Walk In</span></h4>
                        <ul class="unstyled p-l-0 p-t-5">
                          <li>
                            <div class="feed-element">
                              <a href="" class="pull-left">
                                <img alt="image" class="img-circle" src="assets/images/a1.jpg">
                              </a>
                              <div class="media-body ">
                                <small class="pull-right text-navy">1m ago</small>
                                <strong>John Smith</strong> sold this truck to <strong>Aaron Ferguson</strong>.<br>
                                Aaron traded 2 cars in for this deal, a <a>2015 Ford Mustang</a>, and a <a>2011 Honda Civic SE</a>.<br/>
                                <small class="text-muted">Thrusday 4:21 pm - 12.06.2016</small><br>
                                <div class="actions">
                                  <a class="btn btn-xs btn-warning" tooltip-placement="top" uib-tooltip="Email John"><i class="fa fa-envelope-o"></i> Email </a>
                                  <a class="btn btn-xs btn-primary" tooltip-placement="top" uib-tooltip="Text John"><i class="fa fa-comments-o"></i> Chat</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="m-b-25">
                          <div>
                            <span>Deal Progress</span>
                            <small class="pull-right">60% (Documents Required)</small>
                          </div>
                          <div class="progress progress-mini">
                            <div style="width: 60%;" class="progress-bar"></div>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-left pull-left" href="#">
                            <img class="media-object deal-poster" src="http://66.media.tumblr.com/f6d6f342afcc8fc6aa6318768a2f4942/tumblr_n57kfgYQz91sbyy0vo2_500.png" alt="Generic placeholder image">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">Financial Sheet</h4>
                            <table class="table table-condensed no-margin-bottom m-t-10">
                              <tbody>
                                <tr>
                                  <td>Sale Price</td>
                                  <td class="success text-right">
                                    <strong>$50,0000</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Rebate</td>
                                  <td class="success text-right">
                                    <strong>$2,500</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Trade Allowance</td>
                                  <td class="success text-right">
                                    <strong>$15,000</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Trade Payoff</td>
                                  <td class="success text-right">
                                    <strong>$12,000</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Amount Financed</td>
                                  <td class="success text-right">
                                    <strong>$40,000</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Interest Rate</td>
                                  <td class="success text-right">
                                    <strong>7.5%</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Terms</td>
                                  <td class="success text-right">
                                    <strong>60</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Payment</td>
                                  <td class="success text-right">
                                    <strong>$450</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feed-activity-list">
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/a1.jpg">
                </a>

                <div class="media-body ">
                  <small class="pull-right text-navy">1m ago</small>
                  <strong>Sandra Momot</strong> started following <strong>Monica Smith</strong>. <br>
                  <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                  <div class="actions">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                  </div>
                </div>
              </div>
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/profile.jpg">
                </a>

                <div class="media-body ">
                  <small class="pull-right">5m ago</small>
                  <strong>Monica Smith</strong> posted a new blog. <br>
                  <small class="text-muted">Today 5:60 pm - 12.06.2014</small>

                </div>
              </div>
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/a2.jpg">
                </a>
                <div class="media-body ">
                  <small class="pull-right">2h ago</small>
                  <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                  <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                  <div class="well">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                  </div>
                  <div class="pull-right">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                    <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                  </div>
                </div>
              </div>
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/a3.jpg">
                </a>
                <div class="media-body ">
                  <small class="pull-right">2h ago</small>
                  <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                  <small class="text-muted">2 days ago at 8:30am</small>
                  <div class="photos">
                    <a target="_blank" href="http://24.media.tumblr.com/20a9c501846f50c1271210639987000f/tumblr_n4vje69pJm1st5lhmo1_1280.jpg"> <img alt="image" class="feed-photo" src="assets/images/p1.jpg"></a>
                    <a target="_blank" href="http://37.media.tumblr.com/9afe602b3e624aff6681b0b51f5a062b/tumblr_n4ef69szs71st5lhmo1_1280.jpg"> <img alt="image" class="feed-photo" src="assets/images/p3.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/a4.jpg">
                </a>

                <div class="media-body ">
                  <small class="pull-right text-navy">5h ago</small>
                  <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                  <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                  <div class="actions">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                  </div>
                </div>
              </div>
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/a5.jpg">
                </a>

                <div class="media-body ">
                  <small class="pull-right">2h ago</small>
                  <strong>Kim Smith</strong> posted message on <strong>Monica Smith</strong> site. <br>
                  <small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
                  <div class="well">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                  </div>
                  <div class="pull-right">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                  </div>
                </div>
              </div>
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/profile.jpg">
                </a>

                <div class="media-body ">
                  <small class="pull-right">23h ago</small>
                  <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                  <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                </div>
              </div>
              <div class="feed-element">
                <a href="" class="pull-left">
                  <img alt="image" class="img-circle" src="assets/images/a7.jpg">
                </a>

                <div class="media-body ">
                  <small class="pull-right">46h ago</small>
                  <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                  <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

          </div>

        </div>
      </div>

    </div>
    <!-- ./activities -->
  </div>
</div>









<!-- start: BREADCRUMB
<div class="wrap-content container fade-in-up ng-cloak" id="container">
  <div class="breadcrumb-wrapper margin-negative-top-20">
    <h4 class="mainTitle no-margin inline">{{customer.info.name}}</h4>
    <span class="pull-right" style="margin-top:-5px">
			<a ui-sref="home.customer" ng-show="$state.includes('home.customer.profile')" class="btn btn-primary btn-sm btn-o"
         href><i class="fa fa-reply"></i>&nbsp;&nbsp;Back</a>
			<a class="btn btn-wide btn-primary btn-sm btn-o" href="#">Assign as Lead</a>
			<a class="btn btn-wide btn-primary btn-sm btn-o" href="#">Schedule Appointment</a>
			<a class="btn btn-wide btn-primary btn-sm btn-o" href="#">Edit Customer</a>
		</span>
  </div>
  <!-- end: BREADCRUMB -->
  <!-- start: USER PROFILE
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 padding-left-0 padding-right-0" style="width: 25.263158% !important; margin-bottom:20px;">
            <div class="row" style="background-color: #E6E8E8;">
              <h4 class="customer-info-header fs-11" style="color: darkslategray;">Contact Information</h4>
            </div>
            <table class="table table-condensed" style="border: none; margin-top:10px;">
              <tbody style="border: none !important;">
              <tr>
                <td class="padding-left-10 padding-top-10 padding-bottom-10" style="color: darkslategray;">Email</td>
                <td class="padding-left-10 padding-top-10 padding-bottom-10">
                  <a href="#">
                    {{customer.info.email}}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="padding-left-10 padding-top-10 padding-bottom-10" style="color: darkslategray;">Phone:</td>
                <td>
                  <a href>
                    {{customer.info.phone}}
                  </a>
                </td>
              </tr>
              <tr style="border: none;">
                <td class="padding-left-10 padding-top-10"
                    style="color: darkslategray; padding-bottom: 13px !important;">Address:
                </td>
                <td>
                  <a href>
                    {{customer.info.address}}
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 padding-left-15 padding-right-10" style="width:48% !important;">
            <div class="row" style="background-color: #E6E8E8; position: relative;">
              <h4 class="customer-info-header fs-11" style="color: darkslategray;">Purchased Vehicles</h4>

              <div class="purchase-vehicle-header">
                <div class="col-md-12" style="margin-right:10px !important; margin-top:-3px !important;">
                  <span>
                    <select ng-show="customer.purchases.length > 0"
                            class="cs-select cs-skin-elastic span-height-25 ft-sz-12" ng-model="customer.purchase"
                            ng-options="purchase.vehicle for purchase in customer.purchases">
                      <option value="" disabled="" style="margin-top: -38px; margin-left: 35px;">
                        {{customer.purchase.vehicle}}
                      </option>
                    </select>
                  </span>
                </div>

              </div>
            </div>


            <div class="row" style="margin-top: 10px !important; margin-left: -5px; margin-right: -20px;">
              <div class="col-md-6" style="margin-left: -10px; width: 50%;">
                <ul class="list-group" style="border-top: 0 none; !important;">

                  <li class="list-group-item border-bottom"
                      style="border-top: none; border-left: none; border-right: none;">
                    <div class="row inline">
                      <p style="color: darkslategray; margin-left: -10px;">Trades</p>
                      <div class="text-right" style="margin-top: -25px;">
                        <span ng-repeat="trade in customer.purchase.trades" class="label label-default"
                              style="padding-top: 5px !important; margin-right: 5px;">{{trade}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item"
                      style="height: 80px !important; border-left: none; border-right: none; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; padding-top:6px !important; padding-bottom: 0px;">
                    <div class="row inline">
                      <p class="pull-left" style="color: darkslategray; padding-top: 4px; margin-left: -10px;">Date Of
                        Action</p>

                      <p class="pull-right" style="padding-top: 4px;">{{customer.purchase.date}}</p>

                    </div>
                    <span class="label label-dealscan pull-right"
                          style="padding-left: 10px !important; padding-right:10px !important; height: 25px; cursor:pointer; margin-top: 10px !important;">
                        <i class="fa fa-folder-open" aria-hidden="true" style="padding-top: 5px;">&nbsp;&nbsp;</i>View Details
                      </span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6" style="width: 51%;">
                <ul class="list-group">
                  <li class="list-group-item"
                      style="height: 38px; border-top: none; border-left: none; border-right: none;">
                    <div class="row inline">
                      <p class="pull-left" style="color: darkslategray;">Source</p>

                      <p class="pull-right">{{customer.purchase.source}}</p>
                    </div>
                  </li>
                  <li class="list-group-item" style="height: 38px; border-left: none; border-right: none;">
                    <div class="row inline">
                      <p class="pull-left" style="color: darkslategray;">Sales Rep</p>

                      <p class="pull-right">{{customer.purchase.salePerson.name}}.</p>
                    </div>
                  </li>
                  <li class="list-group-item"
                      style="border-left: none; border-right: none; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                    <div class="row inline">
                      <p style="color: darkslategray;">Status</p>
                      <div class="" style="margin-top: -25px;">
                        <span class="label pull-right" ng-class="{'label-warning': customer.purchase.status == 'Pending',
                         'label-danger': customer.purchase.status == 'Lost', 'label-success': customer.purchase.status == 'Completed'}"
                              style="padding-top:5px !important; padding-bottom: 5px !important;">{{customer.purchase.status}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>


          </div>
          <div class="col-md-4 padding-left-0 padding-right-0" style="width:26.105263% !important;">
            <div class="row">
              <div class="row" style="margin-left: 3px; background-color: #E6E8E8;">
                <h4 class="customer-info-header fs-11">
                  Purchase Details</h4>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-6 no-padding padding-left-5">
                  <table class="table table-striped table-condensed" style="border: none; margin-top:10px;">
                    <tbody style="border: none !important;">
                    <tr class="success">
                      <td class="" style="color: darkslategray;">Sale Price</td>
                      <td class="text-bold text-right ">${{customer.purchase.financing.salePrice}}</td>
                    </tr>
                    <tr>
                      <td class="" style="color: darkslategray;">Trade Allowance:</td>
                      <td class="text-bold text-right ">${{customer.purchase.financing.tradeAllowance}}</td>
                    </tr>
                    <tr class="success" style="border: none;">
                      <td class="" style="color: darkslategray;">Trade Payoff:</td>
                      <td class="text-bold text-right ">${{customer.purchase.financing.tradePayOff}}</td>
                    </tr>
                    <tr style="border: none;">
                      <td class="" style="color: darkslategray;">Financed:</td>
                      <td class="text-bold text-right ">${{customer.purchase.financing.financed}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6 no-padding padding-left-10">
                  <table class="table table-striped table-condensed" style="border: none; margin-top:10px;">
                    <tbody style="border: none !important;">
                    <tr class="success">
                      <td class="" style="color: darkslategray;">Rebate</td>
                      <td class="text-right text-bold">${{customer.purchase.financing.rebate}}</td>
                    </tr>
                    <tr>
                      <td class="" style="color: darkslategray;">IR:</td>
                      <td class="text-right text-bold">{{customer.purchase.financing.ir}}%</td>
                    </tr>
                    <tr class="success" style="border: none;">
                      <td class="" style="color: darkslategray;">Terms:</td>
                      <td class="text-right text-bold">{{customer.purchase.financing.terms}}</td>
                    </tr>
                    <tr style="border: none;">
                      <td class="" style="color: darkslategray;">Payment:</td>
                      <td class="text-right text-bold">${{customer.purchase.financing.payment}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div style="height: auto;" class="panel-wrapper in collapse">
          <div class="tabbable no-padding no-margin">
            <div ui-view="tabs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end: USER PROFILE -->

