<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="vehicle.ok()"><i class="fa fa-times fs-14"></i></button>
  <h3 class="modal-title">{{vehicle.display}} Details</h3>
</div>
<div class="modal-body p-b-10">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox product-detail">
        <div class="ibox-content">

          <div class="row">
            <div class="col-md-5">
              <slick dots="true">
                <div>
                  <div class="ibox-content ">
                    <img class="vehicle-img" ng-src="{{vehicle.displayingInfo.vehiclePhoto}}">
                  </div>
                </div>
              </slick>
            </div>
            <div class="col-md-7">

              <h2 class="font-bold m-b-xs">
                {{vehicle.displayingInfo.name | uppercase}}
              </h2>
              <small>This {{vehicle.display == 'Purchase' ? 'vehicle' : 'trade'}} was {{vehicle.display == 'Purchase' ? 'sold' : 'scanned in '}}
                by <strong>{{vehicle.displayingInfo.salePerson.name}}</strong> on {{vehicle.displayingInfo.transactionDate}}</small>
              <div class="m-t-md">
                <h2 class="product-main-price">${{vehicle.displayingInfo.price}} <small class="text-muted"></small> </h2>
              </div>
              <hr>

              <h4>Vehicle Description</h4>
              <div class="small text-muted">


              </div>

              <dl class="dl-horizontal m-t-md small">
                <dt>VIN #</dt>
                <dd>{{vehicle.displayingInfo.details.VIN}}</dd>
                <dt>Stock Number</dt>
                <dd>{{vehicle.displayingInfo.details.stockNumber}}</dd>
                <dt>Body Style</dt>
                <dd>{{vehicle.displayingInfo.details.bodyStyle}}</dd>
                <dt>Classification</dt>
                <dd>{{vehicle.displayingInfo.details.classification}}</dd>
                <dt>Color</dt>
                <dd>{{vehicle.displayingInfo.details.color}}</dd>
                <dt ng-if="vehicle.display == 'Purchase'">Invoice</dt>
                <dd ng-if="vehicle.display == 'Purchase'">{{vehicle.displayingInfo.details.invoice}}</dd>
                <dt ng-if="vehicle.display == 'Trade'">Trade Allowance</dt>
                <dd ng-if="vehicle.display == 'Trade'">{{vehicle.displayingInfo.details.tradeAllowance}}</dd>
                <dt ng-if="vehicle.display == 'Trade'">ACV</dt>
                <dd ng-if="vehicle.display == 'Trade'">{{vehicle.displayingInfo.details.actualCashValue}}</dd>
                <dt>State</dt>
                <dd>{{vehicle.displayingInfo.details.state}}</dd>
                <dt>Year</dt>
                <dd>{{vehicle.displayingInfo.details.year}}</dd>
                <dt>Make</dt>
                <dd>{{vehicle.displayingInfo.details.make}}</dd>
                <dt>Model</dt>
                <dd>{{vehicle.displayingInfo.details.model}}</dd>
                <dt>Trim Level</dt>
                <dd>{{vehicle.displayingInfo.details.trimLevel}}</dd>
                <dt>Mileage</dt>
                <dd>{{vehicle.displayingInfo.details.mileage}}</dd>
              </dl>

              <dl class="dl-horizontal m-t-md small">
                <dt>Sales Person</dt>
                <dd>{{vehicle.displayingInfo.salePerson.name}}</dd>
                <dt>Customer</dt>
                <dd>{{vehicle.displayingInfo.buyer.profile.name}}</dd>
                <dt>Date</dt>
                <dd>{{vehicle.displayingInfo.date}}</dd>
              </dl>


              <div class="text-right">
                <div class="btn-group">
                  <button class="btn btn-white btn-sm" ng-click="vehicle.textCustomer();"><i class="fa fa-comments-o">&nbsp;</i> Chat with Customer </button>
                  <button class="btn btn-white btn-sm" ng-click="vehicle.emailCustomer();"><i class="fa fa-envelope"></i> Email Customer </button>
                </div>
              </div>
              <hr>
            </div>
          </div>

        </div>
        <div class="ibox-footer">
           <span class="pull-right">
                Scanned on - <i class="fa fa-clock-o"></i> {{vehicle.displayingInfo.createdAt}}
          </span>
          This information was retrieved from DealScan &trade; Desking Suite
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning btn-o" type="button" ng-click="vehicle.ok()">Close Details</button>
</div>

