
/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

textarea {
  resize: none;
}

.btn-dealscan,
.text-dealscan {
  background: #FA6424 !important;
  color: #fff !important;
}

.label-dealscan {
  background: #FA6424 !important;
  color: #fff !important;
}
.btn-dealscan:hover {
  background: #fff!important;
  color: #FA6424 !important;
  border: 1px solid #FA6424 !important;
}
