
/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

textarea {
  resize: none;
}

.no-margin {
  margin:0;
}
.btn-dealscan,
.text-dealscan {
  background: #FA6424 !important;
  color: #fff !important;
}

.label-dealscan {
  background: #FA6424 !important;
  color: #fff !important;
}
.btn-dealscan:hover {
  background: #fff!important;
  color: #FA6424 !important;
  border: 1px solid #FA6424 !important;
}
.m-l-220 {
  margin-left: 220px !important;
}
.m-l-70 {
  margin-left: 70px !important;
}
.dsc-dark-blue-bg {
  background: #2f4050 !important;
}
.md-skin .navbar-fixed-top, .md-skin .navbar-static-top {
  background-color: #243a50!important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

.nav>li.active {
  border-left: 4px solid #ff5f00;
  background: #293846;
}
.ng-hide.ng-hide-animate {
  display: none !important;
}
#dscBarChart.ng-animate,
.hideSansDelay.ng-animate
{ -webkit-animation: none 0s; }

.btn-car {
   background-color: #ff5f00;
   border-color: #ff5f00;
   color: #FFFFFF!important;
 }
.btn-car:hover {
  background-color: #FF750D;
  border-color: #ff5f00;
}

.navbar-right {
  float: right!important;
  margin-right: 0;
}

.mini-navbar .squrl-logo {
  display:none;
}

.btn-sq {
  background-color: #243a50;
  border-color: #29445e;
  color: #FFFFFF;
}

.btn-sq:hover {
  background-color: #29445e;
  border-color: #29445e;
  color: #FFFFFF;
}

.pac-container {
  z-index: 9999999 !important;
}

.navbar-fixed-top {
  left: 220px;
}
/*.md-skin .navbar-static-side {*/
/*height:100%*/
/*}*/