<div class="wrap-content container fade-in-up ng-cloak" id="container">
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin inline">SEARCH</h4>
<!-- 
		<span class="pull-right" style="margin-top:-8px">
			<a class="btn btn-wide btn-primary" href ng-click="addTask()"><i class="fa fa-tasks"></i> Add Task</a>
			<a class="btn btn-wide btn-primary" href ng-click="addLead()"><i class="fa fa-bullhorn"></i> Add Lead</a>
			<a class="btn btn-wide btn-primary" href="#"><i class="fa fa-calendar-plus-o"></i> Add Event</a>
		</span> -->
  </div>
  <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="search-classic">
                        <form action="#" class="ng-pristine ng-valid">
                            <div class="input-group well">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </span>
                            </div>
                        </form>
                        <h3>Search results for 'Miles Johnson'</h3>
                        <hr>
                        <div class="search-result">
                            <h4><a href="#"> Miles Johnson </a></h4>
                            <p class="search-p">
                              Email: <a href="#"> miles.johnson@gmail.com </a>
                             </p>
                             <p class="search-p">
                              Phone: <a href="#">(555) 555-5555 </a>
                             </p>
                            <p class="search-p">
                              Sales Rep: <a href="#">John S. </a>
                            </p>
                            <p class="search-p">
                              Status: <span class="label label-sm label-warning">Pending</span>
                            </p>
                          <p style="margin-top:10px;">
                            Here is where customer notes can be added if necessary.  If a customer doesn't have any notes then this paragraph will be hidden. 
                          </p>
                        </div>
                        <hr>
                        <div class="search-result">
                            <h4><a href="#"> Cary gaskell </a></h4>
                            <p class="search-p">
                              Email: <a href="#"> carylgaskell@gmail.com </a>
                             </p>
                             <p class="search-p">
                              Phone: <a href="#">(555) 555-5555 </a>
                             </p>
                            <p class="search-p">
                              Sales Rep: <a href="#">John S. </a>
                            </p>
                            <p class="search-p">
                              Status: <span class="label label-sm label-warning">Pending</span>
                            </p>
                          <p style="margin-top:10px;">
                            Here is where customer notes can be added if necessary.  If a customer doesn't have any notes then this paragraph will be hidden. 
                          </p>
                        </div>
                        <hr>
                        <ol class="pagination pull-right">
                            <li class="prev disabled">
                                <a href="#"> Prev </a>
                            </li>
                            <li class="active">
                                <a href="#"> 1 </a>
                            </li>
                            <li>
                                <a href="#"> 2 </a>
                            </li>
                            <li>
                                <a href="#"> 3 </a>
                            </li>
                            <li>
                                <a href="#"> 4 </a>
                            </li>
                            <li>
                                <a href="#"> 5 </a>
                            </li>
                            <li class="next">
                                <a href="#"> Next </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>