<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times fs-14"></i></button>
  <h3 class="modal-title">Add Customer</h3>
</div>
<div class="modal-body p-b-10">
  <div class="row">
    <div class="col-md-6">
     <div class="row">
       <div class="col-sm-9">
         <div class="form-group">
           <label>First Name</label>
           <input type="text" class="form-control" id="usr">
         </div>
       </div>
       <div class="col-sm-3">
         <div class="form-group">
           <label>MI</label>
           <input type="text" class="form-control" id="usr">
         </div>
       </div>
     </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" show-weeks="false" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label>Drivers License Number</label>
        <input type="text" class="form-control" id="usr">
      </div>
    </div>
    <!-- Column Two -->
    <div class="col-md-6">
      <div class="form-group">
        <label>Address Line 1</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label>Address Line 2</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label>City/Town</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label>Zip Code</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label>State</label>
            <select class="cs-select cs-skin-elastic">
              <option value="" disabled selected>Select a State</option>
              <option class="form-control" ng-repeat="state in states" value="{{state.name}}">{{state.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" id="usr">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning btn-o" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary btn-o" type="button" ng-click="ok()">Assign Now</button>
</div>
