<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="newCustomer.cancel()"><i class="fa fa-times fs-14"></i></button>
  <h3 class="modal-title">Add Customer</h3>
</div>
<div class="modal-body p-b-10">
  <div class="row margin-negative-left-15 margin-negative-right-15">
    <div class="col-md-6">
      <div class="row margin-negative-left-15 margin-negative-right-15">
        <div class="col-sm-9">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="newCustomer.customerInfo.firstName">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>MI</label>
            <input type="text" class="form-control" ng-model="newCustomer.customerInfo.middleInitial">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.lastName">
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.dateOfBirth"/>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.phone">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="newCustomer.customerInfo.email">
      </div>
      <div class="form-group">
        <label>Drivers License Number</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.driverLicenseID">
      </div>
    </div>
    <!-- Column Two -->
    <div class="col-md-6">
      <div class="form-group">
        <label>Street Address</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.streetAddress">
      </div>

      <div class="form-group">
        <label>City/Town</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.city">
      </div>
      <div class="form-group">
        <label>Zip Code</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.postalCode">
      </div>
      <div class="row margin-negative-left-15 margin-negative-right-15">
        <div class="col-sm-9">
          <div class="form-group">
            <label>State</label>
            <select class="cs-select cs-skin-slide" ng-model="newCustomer.customerInfo.state" ng-options="state.name for state in newCustomer.states"
                    ng-model="newCustomer.customerInfo.state">
              <option value="" disabled="">Select a State</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" ng-model="newCustomer.stateCode">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" ng-model="newCustomer.customerInfo.country">
      </div>
      <div class="form-group">
        <label>Source</label>
        <select class="cs-select cs-skin-slide" ng-model="newCustomer.customerInfo.source"
                ng-options="source.name for source in newCustomer.sources">
          <option value="" disabled="">Pick a Source</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning btn-o" type="button" ng-click="newCustomer.cancel()">Cancel</button>
  <button class="btn btn-primary btn-o" type="button" ng-click="newCustomer.ok()">
    <i class="fa fa-spin fa-spinner" ng-if="newCustomer.addingCustomer"></i>&nbsp;&nbsp;{{newCustomer.addingCustomer
    ? 'Adding Now...' : 'Add now'}}
  </button>
</div>
