<div>
  <div>
    <div class="wrap-content container fade-in-up ng-cloak" id="container">
      <div class="breadcrumb-wrapper" ng-if="$state.is('home.customer')">
        <h4 class="mainTitle no-margin inline">MY CUSTOMERS</h4>
        <span class="pull-right" style="margin-top:-8px">
           <a class="btn btn-wide btn-primary btn-sm btn-o" href ng-click="customers.addCustomer();"><i
             class="fa fa-user-plus"></i>&nbsp;&nbsp;Add Customer</a>
          </span>
      </div>
      <div class="row no-margin" ng-if="$state.is('home.customer')">
        <div class="col-md-12" style="margin-top:15px;">
          <div class="panel panel-white no-radius no-margin" ng-hide="customers.processingData">
            <table st-table="customers.customersOnDisplay" st-safe-src="customers.customersInfo"
                   class="table table-stylish padding-right-15 padding-left-15">
              <thead class="panel-heading border-light padding-30 background-white">
              <tr >
                <th class="padding-top-15 padding-bottom-15" colspan="3">
							      <span class="input-icon">
								      <input type="search" st-search="" st-delay="0" placeholder="Search customers..."
                             class="form-control" style="font-size:12px !important;"> <i class="ti-search"></i>
                    </span>
                </th>
                <th class="col-lg-8 col-xs-7 text-right" colspan="4">
                  <div class="btn-group margin-top-5" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-info btn-sm">Advanced Filters</button>
                    <button type="button" class="btn btn-info btn-sm" uib-dropdown-toggle>
                      <span class="caret"></span>
                      <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                      <li role="menuitem"><a href="#">Action</a></li>
                      <li role="menuitem"><a href="#">Another action</a></li>
                      <li role="menuitem"><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li role="menuitem"><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </th>
              </tr>
              <tr>
                <th class="no-border"></th>
                <th class="no-border col-md-2" st-sort="customerID">Customer Name</th>
                <th class="no-border col-md-3" st-sort="email">Email</th>
                <th class="no-border col-md-2">Phone Number</th>
                <th class="no-border" st-sort="source">Source</th>
                <th class="no-border">Status</th>
                <th class="no-border">Actions</th>
              </thead>
              <tbody>
              <tr ng-repeat="row in customers.customersOnDisplay">
                <td class="center">
                  <img alt="image" class="" src="assets/images/profile.jpg"style="width:25px; height:25px;">
                </td>
                <td ng-click="customers.goToProfile(row)">
                  <a href rel="nofollow">{{row.profile.name}}</a>
                </td>
                <td ng-click="customers.emailCustomer(row)">
                  <a href rel="nofollow">{{row.profile.email}} </a>
                </td>
                <td ng-click="customers.textCustomer(row)">
                  <a href rel="nofollow">{{row.profile.phone}}</a>
                </td>
                <td>
                  {{row.profile.source}}
                </td>
                <td>
                  <span class="label label-sm label-warning">Pending</span>
                </td>
                <td>
                  <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <a href ng-click="customers.emailCustomer(row)" class="btn btn-transparent btn-xs"
                       tooltip-placement="top" uib-tooltip="Email"
                      ><i class="fa fa-envelope"></i></a>
                    <a href ng-click="customers.textCustomer(row)" class="btn btn-transparent btn-xs"
                       tooltip-placement="top" uib-tooltip="Text"><i
                      class="fa fa-commenting-o"></i></a>
                    <a href ng-click="customers.editCustomer(row)" class="btn btn-transparent btn-xs"
                       tooltip-placement="top" uib-tooltip="Edit"><i
                      class="fa fa-pencil"></i></a>
                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top"
                       uib-tooltip="Remove" ng-click="customers.deleteCustomer(row)"><i
                      class="fa fa-times fa fa-white"></i></a>
                  </div>
                  <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="btn-group dropdown" uib-dropdown="">
                      <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle"
                              uib-dropdown-toggle=""
                              aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                        <li>
                          <a href="#"> Email </a>
                        </li>
                        <li>
                          <a href="#"> Edit </a>
                        </li>
                        <li>
                          <a href="#"> Remove </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="7" class="tc-pagination">
                  <div st-pagination="" st-items-by-page="customers.itemsPerPage" st-displayed-pages="customers.maxSize"></div>
                </td>
              </tr>
              </tfoot>
            </table>

          </div>
        </div>
      </div>
    </div>


  </div>
  <ui-view></ui-view>



</div>
