/*.user-left {*/
  /*width: 20%; !important;*/
/*}*/
/*.list-group-item:first-child {*/
  /*border: none; !important;*/
/*}*/
/*.list-group-item {*/
  /*border: none; !important;*/
/*}*/
/*.list-group-item:last-child {*/
  /*border: none; !important;*/
/*}*/

/*.cs-placeholder {*/
  /*margin-left: 70px;*/
  /*margin-top: -42px;*/
  /*font-size: 11px;*/
/*}*/
.customer-photo {
      height: 80px;
      display: inline;
  cursor:pointer;
      margin: 3px;
}
.document-photo{
  height:48px;
  cursor:pointer;
}

.document-item {
    width: 300px;
    max-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-align: center;
}
.scroll-300 {
    height: 300px;
    max-height: 300px !important;
    overflow-y: scroll;
    overflow-x: hidden !important;
}
.cusTab {
  margin-bottom: 20px;
}

.actvityPanel {
  height: 275px;
  max-height: 275px !important;
  overflow-y: scroll;
  overflow-x: hidden !important;
}

.customPanelHeight {
  min-height: 0px !important;
  height: 30px;
  padding: 10px 0px 27px 10px !important;
}
.menuText {
  font-size: 11px;
  border-width: 10px;
  align-content: center;
  box-shadow: none;
}

.morePhotos {
  border-style: solid !important;
  border-width: 1px;
}
.ul {
  margin-top: -5px;
}

.tabMenu {
  margin-top: -5px;
}

.navButtons {
  margin-top: 15px;
}
.tabbable {
  margin-top: -20px;
  box-shadow: none;
}

.cusRow {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.butt {
  height: 50px;
  width: 50px;
}

.docPanel {
  max-height: 75px;
}

/* Experiences */
ul.experiences li {
  position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: 0.5em;
}

ul.experiences li:after {
  /* bullets */
  content: url('https://qph.is.quoracdn.net/main-qimg-e9c30971d9aedf18db1a3f6419fb0dd8?convert_to_webp=true');
  position: absolute;
  left: -24px; /*adjust manually*/
  top: 0px;
}

ul.experiences li:before {
  /* lines */
  content:"";
  position: absolute;
  left: -16px; /* adjust manually */
  border-left: 1px solid #5FA5E7;
  height: 100%;
  width: 1px;
}

ul.experiences li:first-child:before {
  /* first li's line */
  top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before {
  /* last li's line */
  height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}

.margin-negative-top-20 {
  margin-top: -20px !important;
}


.ft-sz-12 {
  font-size:12px !important;
}

.span-height-25 > span {
  height: 27px !important;
  padding-top: 3px !important;
}

.btn-rounded-20 {
  width: 30px !important;
  border-radius: 20px !important;
}

.height-50 {
  height: 50px !important;
}

.background-white {
  background: #fff !important;
}

.st-sort-ascent:before {
  content: '\25B2';
}

.st-sort-descent:before {
  content: '\25BC';
}


.tc-pagination {
  background: #fff !important;
  border: none !important;
  text-align: center !important;
}

.customer-info-header {
  font-size: 11px !important;
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left:10px !important;
}

.purchase-vehicle-header {
  position: absolute;
  top: 10px;
  right: 0;
}


