<div class="wrap-content container fade-in-up ng-cloak" id="container" >
  <div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin inline">CUSTOMER</h4>
    <span class="pull-right" style="margin-top:2px">
			<a class="btn-sm btn-wide btn-primary" href="#"><i class="fa fa-user"></i> Add Customer</a>
		</span>
  </div>
  <br>
  <div class="panel panel-default panel-white">
    <div class="panel-body">
        <div class="col-sm-3 border-right">
          <h4 style="margin-bottom: 20px !important;">{{customer.info.name}}</h4>
          <h6 class="text-muted"><strong>Contact Information</strong></h6>
          <table class="cusTab" width="100%">
            <tr class="cusRow">
              <td style="width:68px">Email</td>
              <td>Cary@gmail.com</td>
            </tr>
            <tr class="cusRow">
              <td>Phone</td>
              <td>{{customer.info.phone}}</td>
            </tr>
            <tr class="cusRow">
              <td>Cell</td>
              <td>333-333-3333</td>
            </tr>
            <tr class="cusRow">
              <td>Address</td>
              <td>1253 Wisconsin Avenue NW, Washington DC 20007</td>
            </tr>
          </table>
          <h6 class="text-muted"><strong>General Information</strong></h6>
          <table class="cusTab" width="100%">
            <tr class="cusRow">
              <td>Purchased Vehicles</td>
              <td>1973 Pinto</td>
            </tr>
            <tr class="cusRow">
              <td>Trades</td>
              <td>Escape</td>
            </tr>
            <tr class="cusRow">
              <td>Date of Action</td>
              <td>03/02/2016</td>
            </tr>
            <tr class="cusRow">
              <td>Source</td>
              <td>Walk-In</td>
            </tr>
            <tr class="cusRow">
              <td>Sales Rep</td>
              <td>Brian M.</td>
            </tr>
            <tr class="cusRow">
              <td>Status</td>
              <td>
                <h6><span class="label label-warning">Pending</span></h6>
              </td>
            </tr>
          </table>
          <h6 class="text-muted"><strong>Additional Information</strong></h6>
          <table class="cusTab" width="100%">
            <tr class="cusRow">
              <td style="width:44px">Notes</td>
              <td>This is where the sales reps can put various notes related to the customer</td>
            </tr>
          </table>
          <br>
          <a class="btn btn-xs border-dark pull-right" href="#">Edit Customer</a>
        </div>
        <div class="row inline">
          <div class="col-sm-9">
              <div class="tabbable">
                <ul class="nav nav-tabs tabMenu">
                    <li heading="{{item.name}}" class="padding-top-5 uib-tab {{item.state}}" ng-repeat="item in customer.menuItems">
                      <a class="menuText" href="" style="box-shadow: none">{{item.name}}</a>
                    </li>
                  <div class="pull-right padding-right-10" ng-repeat="button in customer.navButtons">
                    <a class="btn btn-sm btn-primary navButtons" href="#" style="font-size: 8px" tooltip-placement="bottom" uib-tooltip="{{item.text}}"><i class="glyphicon {{button.icon}}"></i> </a>
                  </div>
                </ul>
              </div>
          </div>
          <div class="col-sm-5 pull-left">
            <div class="panel panel-default panel-white">
              <div class="panel-heading background-light customPanelHeight">Recent Activities</div>
              <div class="panel-body actvityPanel">
                <ul class="experiences">
                  <li ng-repeat="act in customer.activity">
                    <div class="where text-muted">{{act.time}}</div>
                    <p class="description">{{act.description}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-5 pull-left">
            <div class="panel panel-default panel-white">
              <div class="panel-heading background-light customPanelHeight">Recent Documents</div>
              <div class="panel-body docPanel padding-right-45">
                <div class="docContent">
                  <div class="col-sm-2" ng-repeat="doc in customer.documents">
                    <img ng-src="{{doc.image}}" alt="document" width="32" height="32">
                    <p style="font-size: 8px">{{doc.name}}</p>
                  </div>
                  <div class="col-sm-2">
                    <button class="btn-sm btn-default text-muted morePhotos" ><i class="glyphicon glyphicon-menu-right"></i>More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default panel-white">
              <div class="panel-heading background-light customPanelHeight">Recent Images</div>
              <div class="panel-body">
                <div class="row inline" ng-repeat="photo in customer.photos">
                  <img src="{{photo.url0}}" alt="{{photo.alt0}}" width="80" height="80">
                  <img src="{{photo.url1}}" alt="{{photo.alt1}}" width="80" height="80">
                  <img src="{{photo.url2}}" alt="{{photo.alt2}}" width="80" height="80">
                </div>
                <div class="panel-body" style="text-align:center; border-top: 1px dotted #eee; padding-top:35px !important;">
                  <a class="btn-sm btn-wide btn-default text-muted" href="#"><i class="fa fa-arrow-circle-o-right text-primary"></i> More Photos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
  <!--<div class="jumbotron">
    <h2>User Info</h2>
    <ul>
      <li>Name: {{customer.user.profile.name}}</li>
      <li>Phone: {{customer.user.profile.phone}}</li>
      <li>Role: {{customer.user.profile.role}}</li>
    </ul>
  </div>-->


