<div class="modal-header social-broadcart-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="smBroadcast.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title ft-wt-n">
    <i class="fa fa-wifi">&nbsp;&nbsp;</i>
    BROADCAST SETTINGS
  </h4>
</div>
<div class="modal-body no-padding">

  <!-- Source Selection -->
  <ul class="unstyled social-broadcast-networks">
    <li class="section-caption gray-bg">
      Select Social Networks
    </li>
    <li>
      <button class="btn btn-facebook">&nbsp;<i class="fa fa-facebook"></i></button>
      &nbsp;&nbsp;Facebook
      <div class="pull-right m-t-7">
        <label> <input icheck type="checkbox" ng-model="main.check2">
        </label>
      </div>
    </li>
    <li>
      <button class="btn btn-twitter"><i class="fa fa-twitter"></i></button>
      &nbsp;&nbsp;Twitter
      <div class="pull-right m-t-7">
        <label> <input icheck type="checkbox" ng-model="main.check2">
        </label>
      </div>
    </li>
    <li>
      <button class="btn btn-instagram"><i class="fa fa-instagram"></i></button>
      &nbsp;&nbsp;Instagram
      <div class="pull-right m-t-7">
        <label> <input icheck type="checkbox" ng-model="main.check2">
        </label>
      </div>
    </li>
  </ul>
  <!-- ./ Source Selection -->

  <!-- Target Selection -->
  <ul class="unstyled social-broadcast-targets">
    <li class="section-caption gray-bg">
      Set your target audience
    </li>
    <li>
      <div>
        <label> <input icheck type="checkbox" ng-model="main.check2">
            &nbsp;&nbsp;My Customers
        </label>
      </div>
    </li>

    <li>
      <div>
        <label> <input icheck type="checkbox" ng-model="main.check2">
          &nbsp;&nbsp;Current Search Results
        </label>
      </div>
    </li>

    <li>
      <div>
        <label> <input icheck type="checkbox" ng-model="main.check2">
          &nbsp;&nbsp;Everyone
        </label>
      </div>
    </li>

  </ul>
  <!-- ./ Target selection -->
</div>
<div class="modal-footer">
  <button class="btn btn-block btn-info" ng-click="smBroadcast.ok()">
    <i class="fa fa-arrow-right">&nbsp;&nbsp;</i>Proceed</button>
</div>
