<div class="modal-header social-broadcart-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="smBroadcast.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title ft-wt-n">
    <i class="fa fa-wifi">&nbsp;&nbsp;</i>
    BROADCAST SETTINGS
  </h4>
</div>
<div class="modal-body no-padding">
  <!-- Source Selection -->
  <ul class="unstyled social-broadcast-networks">
    <li class="section-caption gray-bg">
      Select Social Networks
    </li>
    <li class="fs-15">
      <button class="btn btn-facebook w-34-h-34" style="background-color: transparent!important">&nbsp;<i class="fa fa-facebook fb-color" style="margin-left:-3px;"></i></button>
      &nbsp;&nbsp;Facebook
      <div class="pull-right m-t-7">
        <label> <input icheck type="checkbox" ng-model="smBroadcast.broadcastObj.fb">
        </label>
      </div>
    </li>
    <li class="fs-15">
      <button class="btn btn-twitter w-34-h-34" style="background-color: transparent!important"><i class="fa fa-twitter twt-color" style="margin-left:-2px;"></i></button>
      &nbsp;&nbsp;Twitter
      <div class="pull-right m-t-7">
        <label> <input icheck type="checkbox" ng-model="smBroadcast.broadcastObj.twt">
        </label>
      </div>
    </li>
  </ul>
  <!-- ./ Source Selection -->
  <ul class="unstyled social-broadcast-targets" ng-hide="!smBroadcast.broadcastObj.fb">
    <li class="section-caption gray-bg">
      <i class="fa fa-facebook fb-color"></i>
      &nbsp;Select Facebook Page
    </li>
    <li>
      <ui-select multiple ng-model="smBroadcast.selectedPages" theme="bootstrap" sortable="true" close-on-select="false" style="">
        <ui-select-match placeholder="Select pages...">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="page in smBroadcast.pages | filter: $select.search">
          <div ng-bind-html="page.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </li>
  </ul>
  <!-- Target Selection -->
  <ul class="unstyled social-broadcast-targets">
    <li class="section-caption gray-bg">
      What would you like to say?
    </li>
    <li style="padding-bottom: 25px;">
      <div class="media-body">
        <textarea ng-model="smBroadcast.broadcastObj.text" class="form-control" rows="4" placeholder="Write message..."></textarea>
      </div>
      <div style="margin-top:10px; margin-bottom:10px;">
        <span class="pull-right m-r-10 m-b-5" style="margin-left:10px;" ng-if="smBroadcast.broadcastObj.fb">
          <i class="fa fa-facebook"></i>
          <span class="m-l-5" ng-class="smBroadcast.broadcastObj.text.length > 1401 ? 'red-text' : ''">{{1400 - smBroadcast.broadcastObj.text.length || 0}}</span>
        </span>
        <span class="pull-right m-r-10 m-b-5" style="margin-left:10px;" ng-if="smBroadcast.broadcastObj.twt">
          <i class="fa fa-twitter"></i>
          <span class="m-l-5" ng-class="smBroadcast.broadcastObj.text.length > 141 ? 'red-text' : ''">{{140 - smBroadcast.broadcastObj.text.length || 0}}</span>
        </span>
      </div>
    </li>
  </ul>

  <!-- ./ Target selection -->
</div>
<div class="modal-footer">
  <button class="btn btn-block btn-info" ng-click="smBroadcast.broadcastSocial()">
    <i ng-class="smBroadcast.broadcasting ? 'fa fa-spinner fa-pulse': 'fa fa-arrow-right'">&nbsp;&nbsp;</i>Broadcast{{smBroadcast.broadcasting ? 'ing' : ''}}</button>
</div>
