
.w-34-h-34 {
  width: 34px;
  height:34px;
}
.p-t-42 {
  top:42px;
  position:relative;
}

.p-r-0 {
 padding-right: 0 !important;
}
.p-r-16 {
  padding-right: 16px;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-b-14 {
  padding-bottom:14px !important;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-l-ng-10 {
  margin-left: -10px !important;
}
.m-r-ng-10 {
  margin-right: -10px !important;
}
.m-r-5 {
  margin-right:5px;
}
.p-t-5 {
  padding-top:5px !important;
}
.m-l-15 {
  margin-left:15px;
}
.m-l-26 {
  margin-left: 26px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-l-55 {
 margin-left: 55px;
}
.m-l-61 {
  margin-left: 61px;
}
.m-l-33-pct {
  margin-left: 33.333333333%;
}
.no-border {
  border: none !important;
}

.f-sz-22 {
  font-size: 22px !important;
}

.modal-300 {
  width:300px!important;
}

.width-220 {
  width: 220px !important;
}

.width-250 {
  width: 250px !important;
}
.width-350 {
  width: 350px !important;
}
.fs-15 {
  font-size: 15px;
}
.cursor {
  cursor: pointer;
}
.fb-selected {
  background-color:#3b5998!important;
  color: #fff!important;
  border: 1px solid #3b5998;
}

.fb-not-selected {
  background-color:#fff;
  color: #3b5998!important;
  border: 1px solid #3b5998;
}
.default {
  background-color: #000;
}
.circle-selected {
  background-color:#1ab394!important;
  color: #fff!important;
  border: 1px solid #1ab394;
}

.btn-pause {
  background-color:#fff!important;
  color: #f8ac59!important;
  border: 1px solid #f8ac59;
}

.btn-stop {
  background-color:#fff!important;
  color: #ed5565!important;
  border: 1px solid #ed5565;
}

.btn-play {
  background-color:#fff!important;
  color: #23c6c8!important;
  border: 1px solid #23c6c8;
}
.circle-not-selected {
  background-color:#fff;
  color: #1ab394!important;
  border: 1px solid #1ab394;
}

.twt-color {
  color:#00aced!important;
}

.fb-color {
  color: #3b5998!important;
}
.twt-selected {
  background-color:#00aced!important;
  color: #fff!important;
  border: 1px solid #00aced;
}

.twt-not-selected {
  background-color:#fff;
  color: #00aced!important;
  border: 1px solid #00aced;
}
.ig-selected {
  background-color:#517fa4!important;
  color: #fff!important;
  border: 1px solid #517fa4;
}
.info-list{
  padding-left:10px;
  padding-right:10px;
  list-style: none;
  font-size:16px;
}
.info-list li {
  margin-bottom:10px;
}

.info-window {
  max-width: 400px;
}
.user_name {
  font-size:18px;
  margin-left:5px;
}
.ig-not-selected {
  background-color:#fff;
  color: #517fa4!important;
  border: 1px solid #517fa4;
}
.social-row {
  margin:0;
  position: relative;
}
#monitor-pane .slimScrollDiv {
height:76%!important;
}
.social-map {
  width: 100%;
  padding: 0 !important;

  position: relative;
}

.social-map-discover {
  padding-left: 500px!important;
}

.social-map-monitor {
  padding-left:700px!important
}

.no-hover-white:hover {
  background-color:#fff!important;
}
tags-input .host {
  position: relative;
  margin-top: 0;
  margin-bottom: 5px;
  height: 100%;
}
.social-map > .google-map {
  width: 100%;
  height: 100%;
}

.social-search-options {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 1 !important;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden;
  bottom: 0;
  margin-bottom: 0;
  background-color:#fff
}

.social-search-results,
.live-monitoring-list {
  max-height:765px;
  min-height: 685px;
  overflow: auto;
}

.monitoring-details-pane {
  height: 685px;
  padding-left: 0px;
  margin-left: 0px;
  z-index:1 !important;
  background: #fff;
}


.live-monitoring-list {

}

.monitoring-items-list {
  padding: 0;
}

.monitoring-items-list li:first-child {
  border-top: 1px solid #d5d5d5;
}
.monitoring-items-list li {
  border-bottom: 1px solid #d5d5d5;
  padding:15px 25px 15px 15px;
  margin-left: -10px;
  margin-right: -15px;
  cursor: pointer;
  background: #f6f6f6;
}
.monitoring-items-list li:hover,
.monitoring-items-list li.active {
  background: #fefefe;
}

.keyword-list {
  list-style: none;
  padding:0;
  margin:0;
}

.keyword-list li {
  padding:0;
  margin:0;
}

.monitoring-items-list li:hover {
  background-color:#f6f6f6!important;
}

.monitoring-items-list .active:hover {
  background-color:#fff!important;
}

.cursor-default {
  cursor:default !important;
}

.ibox-title .ui-select-choices-row-inner {
  padding:10px;
  font-size:16px;
}



.jump-to-location-discover {
  padding-left:500px;
  z-index:1;
  position:absolute;
  top:8px;
  left: 10px;
}

.jump-to-location-monitor {
  padding-left:700px;
  z-index:1;
  position:absolute;
  top:8px;
  left: 10px;
}