<div class="modal-header social-broadcart-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="smBroadcast.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title ft-wt-n">
    <i class="fa fa-wifi">&nbsp;&nbsp;</i>
    BROADCAST SETTINGS
  </h4>
</div>
<div class="modal-body no-padding">
  <!-- Source Selection -->
  <ul class="unstyled social-broadcast-networks">
    <li class="section-caption gray-bg">
      Select Social Networks
    </li>
    <li>
      <button class="btn btn-facebook">&nbsp;<i class="fa fa-facebook"></i></button>
      &nbsp;&nbsp;Facebook
      <div class="pull-right m-t-7">
        <label> <input icheck type="checkbox" ng-model="smBroadcast.broadcastObj.fb">
        </label>
      </div>
    </li>
    <li>
      <button class="btn btn-twitter"><i class="fa fa-twitter"></i></button>
      &nbsp;&nbsp;Twitter
      <div class="pull-right m-t-7">
        <label> <input icheck type="checkbox" ng-model="smBroadcast.broadcastObj.twt">
        </label>
      </div>
    </li>
  </ul>
  <!-- ./ Source Selection -->

  <!-- Target Selection -->
  <ul class="unstyled social-broadcast-targets">
    <li class="section-caption gray-bg">
      What would you like to say?
    </li>
    <li style="padding-bottom: 25px;">
      <div class="media-body">
        <textarea ng-model="smBroadcast.broadcastObj.text" class="form-control" rows="4" placeholder="Write message..."></textarea>
      </div>
      <div style="margin-top:10px; margin-bottom:10px;">
        <span class="pull-right m-r-10 m-b-5" style="margin-left:10px;" ng-if="smBroadcast.broadcastObj.fb">
          <i class="fa fa-facebook"></i>
          <span class="m-l-5" ng-class="smBroadcast.broadcastObj.text.length > 1401 ? 'red-text' : ''">{{1400 - smBroadcast.broadcastObj.text.length || 0}}</span>
        </span>
        <span class="pull-right m-r-10 m-b-5" style="margin-left:10px;" ng-if="smBroadcast.broadcastObj.twt">
          <i class="fa fa-twitter"></i>
          <span class="m-l-5" ng-class="smBroadcast.broadcastObj.text.length > 141 ? 'red-text' : ''">{{140 - smBroadcast.broadcastObj.text.length || 0}}</span>
        </span>
      </div>
    </li>
  </ul>

  <!-- ./ Target selection -->
</div>
<div class="modal-footer">
  <button class="btn btn-block btn-info" ng-click="smBroadcast.tweet()">
    <i class="fa fa-arrow-right">&nbsp;&nbsp;</i>Publish</button>
</div>
