.m-t-38 {
  margin-top: 38px !important;
}
.table.lead-details-table td {
  border-top-color: transparent; !important;
}

.m-t-25 {
  margin-top:25px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.ps-rl-tp-10-rt-10 {
  position: relative;
  top: 10px;
  right: 10px;
}

#lead-info td {
  line-height: 1.42857;
  padding: 4px;
  vertical-align: top;
}

.m-t-125{
  margin-top: 125px !important;
}
