<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
          <li class="nav-header" style="padding-top:0;">
              <img alt="squrl" class="img-responsive squrl-logo" src="../../assets/images/squrl_logo_sm.png" style="margin-bottom: 16px; max-width:90%; padding-top:8px;"/>
              <div class="profile-element" uib-dropdown>
              <!--<img alt="image" class="img-circle" src="assets/images/profile.jpg" style="width: 48px; height: 48px;"/>-->
              <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{navigation.user.firstName}} {{navigation.user.lastName | uppercase |limitTo:1}}.</strong>
                             </span>
                                <span class="text-muted text-xs block">{{navigation.user.profile.role}} <b class="caret"></b></span>
                            </span>
              </a>
              <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                <li><a ui-sref="app.profile">Profile</a></li>
                <li><a ui-sref="app.contacts">Contacts</a></li>
                <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                <li class="divider"></li>
                <li><a ui-sref="login">Logout</a></li>
              </ul>
            </div>
            <div class="logo-element" style="padding:10px; padding-top:5px; padding-bottom: 5px;">
                <img alt="squrl" class="img-responsive" src="../../assets/images/squrl_logo_white.png" style=""/>
            </div>
          </li>

          <li  ng-repeat="item in navigation.menu" ng-class="{active: $state.includes(item.state)}">
            <a ui-sref="{{item.state}}"><i class="{{item.icon}}"></i> <span class="nav-label">{{item.title}}</span> </a>
          </li>

        </ul>

    </div>
</nav>
