<div class="row">
  <div class="col-md-4">
    <div class="panel panel-white" id="activities">
      <div class="panel-heading border-light min-height-40">
        <h4 class="panel-title text-primary ft-sz-12">Recent Activities</h4>
        <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1"
                   tool-dismiss="tool-dismiss"></paneltool>
      </div>
      <div class="panel-wrapper">
        <div class="panel-body scroll-300">
          <ul class="timeline-xs">
            <li class="timeline-item success">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  2
                  minutes ago
                </div>
                <p>John S. assigned some tasks to <a class="text-info" href>Ryan H.</a>
                </p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Thur,

                  12
                  Jan
                </div>
                <p>Ryan H. sent <a class="text-info" href>text message</a>
                </p>
              </div>
            </li>
            <li class="timeline-item danger">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Tue,

                  10
                  Jun
                </div>
                <p>
                  Cary Gaskell bought <a class="text-info" href>2001 Escape</a>
                </p>
              </div>
            </li>
            <li class="timeline-item info">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Sun,

                  11
                  Apr
                </div>
                <p>Ryan H. uploaded <a class="text-info" href>Credit Application</a>
                </p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Wed,

                  25
                  Mar
                </div>
                <p>
                  Appointment with Ryan H.
                </p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Fri,

                  20
                  Mar
                </div>
                <p>Ryan H. Created Cary Gaskell
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-white" id="activities">
      <div class="panel-heading border-light min-height-40">
        <h4 class="panel-title text-primary ft-sz-12">Recent Documents
        </h4>
      </div>
      <ul class="media-list list-group scroll-300">
        <li class="media list-group-item recent-docs-listItem" ng-repeat="doc in customer.documents">
          <div class="media-left">
            <a href="#">
              <img class="media-object" style="width:32px !important;" ng-src="{{doc.image}}" alt="{{doc.name}}">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading ft-sz-12">
              <strong>Wed, Oct 15th, 2016</strong>
              <span class="label pull-right margin-negative-left-21" ng-class="doc.checked ? 'label-success' : 'label-warning'"><i
                ng-class="doc.checked ? 'fa fa-check' : 'fa fa-hourglass-start'">
                &nbsp;</i>{{doc.checked ? 'Success' : 'Pending'}}</span>
              <span class="label label-danger pull-right margin-right-5" ng-if="doc.applicable">
                <i class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;</i>Required</span>
            </h4>
            <p>{{doc.name}}<br><span class="text-muted text-small">{{ doc.applicable && doc.checked ? 'Reviewed by:': 'Pending Review by: '}} <a href>Bryan H.</a></span></p>

          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-white" id="activities">
      <div class="panel-heading border-light min-height-40">
        <h4 class="panel-title text-primary ft-sz-12">Recent Images</h4>
      </div>
      <div class="panel-wrapper">
        <div class="panel-body scroll-300">
          <div class="row">
            <div class="col-sm-6 col-md-6" ng-repeat="photo in customer.photos">
              <a href="#" class="thumbnail">
                <img src="{{photo.url}}" alt="{{photo.alt}}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
