
  
  <div class="messages-list custom-email"  >

  <li class="messages-item" ng-repeat="message in messages">
      <a ng-click="selectEmail(message);">
          <span class="messages-item-from">{{message.from}}</span>
          <div class="messages-item-time">
              <span class="text">{{message.date}}</span>
          </div>
          <span class="messages-item-subject">{{message.subject}} </span>
          <span class="messages-item-content">{{message.content | cut:true:88:' ...'}}</span>
      </a>
  </li>
  
 </div>


<div class="message-content tab-message-content">
  <p style="padding-left:20px" ng-if="!displayingMessage">
    Select a Message
  </p>
  
  <span  ng-if="displayingMessage">
<div class="message-header">
    <div class="message-time">
       {{displayingMessage.date}}
    </div>
  <div class="message-from">
        {{displayingMessage.from}} &lt;{{displayingMessage.email}}&gt;
    </div>
    <div class="message-to">
        To: {{displayingMessage.from}}
    </div>
</div>
    <hr style="margin-top: 0px; margin-bottom: 12px;">
    <p style="padding-left:20px">
    {{displayingMessage.content}}
  </p>
    </span>
</div>