<div class="row">
  <div class="col-md-6">
    <div class="panel panel-white" id="activities">
      <div class="panel-heading border-light">
        <h4 class="panel-title text-primary">Recent Activities</h4>
        <paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1"
                   tool-dismiss="tool-dismiss"></paneltool>
      </div>
      <div class="panel-wrapper">
        <div class="panel-body scroll-300">
          <ul class="timeline-xs">
            <li class="timeline-item success">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  2
                  minutes ago
                </div>
                <p>John S. assigned some tasks to <a class="text-info" href>Ryan H.</a>
                </p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Thur,

                  12
                  Jan
                </div>
                <p>Ryan H. sent <a class="text-info" href>text message</a>
                </p>
              </div>
            </li>
            <li class="timeline-item danger">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Tue,

                  10
                  Jun
                </div>
                <p>
                  Cary Gaskell bought <a class="text-info" href>2001 Escape</a>
                </p>
              </div>
            </li>
            <li class="timeline-item info">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Sun,

                  11
                  Apr
                </div>
                <p>Ryan H. uploaded <a class="text-info" href>Credit Application</a>
                </p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Wed,

                  25
                  Mar
                </div>
                <p>
                  Appointment with Ryan H.
                </p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="margin-left-15">
                <div class="text-muted text-small">
                  Fri,

                  20
                  Mar
                </div>
                <p>Ryan H. Created Cary Gaskell
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-white" id="activities">
      <div class="panel-heading border-light">
        <h4 class="panel-title text-primary">Recent Images</h4>
      </div>
      <div class="panel-wrapper">
        <div class="panel-body scroll-300">
                              <span class="" ng-repeat="photo in customer.photos">
																	<img class="customer-photo" src="{{photo.url}}" alt="{{photo.alt}}">
																</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="panel panel-white" id="activities">
      <div class="panel-heading border-light">
        <h4 class="panel-title text-primary">Recent Documents
        </h4>
      </div>
      <div class="panel-wrapper" style="overflow-x:auto;">
        <div class="panel-body" style="width: 900px;">
          <div class="document-item" ng-repeat="doc in customer.documents">
            <img class="document-photo" src="{{doc.image}}" alt="{{doc.name}}">
            <span>{{doc.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
