<!-- start: MAIN NAVIGATION MENU -->
<div class="sidebar-container">
    <div class="nav-user-wrapper">
        <div class="media">
            <div class="media-left">
                <a class="profile-card-photo" href="#"><img alt="" src="../../assets/images/profile.jpg"></a>
            </div>
            <div class="media-body">
                <span class="media-heading text-white">John S.</span>

                <div class="text-small text-white-transparent"><a>Sales Manager</a></div>
            </div>

            <div class="media-right media-middle">
                <div >
                    <a  class="dropdown-toggle btn btn-transparent text-white" ><i
                            class="fa fa-caret-down"></i> </a>
                    <ul class="dropdown-menu pull-right animated fadeInRight">
                        <li>
                            <a> My Profile </a>
                        </li>
                        <li>
                            <a> My Calendar </a>
                        </li>
                        <li>
                            <a> My Messages </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a> Log Out </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="navbar-title">
            <span>Main Navigation</span>
        </div>
        <ul class="main-navigation-menu">
            <li ui-sref-active="active">
                <a ui-sref="home.dashboard">
                    <div class="item-content">
                        <div class="item-media">
                            <div class="letter-icon-wrapper size-sm"><span class="letter-icon">D</span></div>
                        </div>
                        <div class="item-inner">
                            <span class="title"> DASHBOARD </span>
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="crm.profile">
                    <div class="item-content">
                        <div class="item-media">
                            <div class="letter-icon-wrapper size-sm"><span class="letter-icon">P</span></div>
                        </div>
                        <div class="item-inner">
                            <span class="title"> PROFILE </span>
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="crm.tasks">
                    <div class="item-content">
                        <div class="item-media">
                            <div class="letter-icon-wrapper size-sm"><span class="letter-icon">T</span></div>
                        </div>
                        <div class="item-inner">
                            <span class="title"> TASKS </span>
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="crm.notes">
                    <div class="item-content">
                        <div class="item-media">
                            <div class="letter-icon-wrapper size-sm"><span class="letter-icon">N</span></div>
                        </div>
                        <div class="item-inner">
                            <span class="title"> NOTES </span>
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="crm.leads">
                    <div class="item-content">
                        <div class="item-media">
                            <div class="letter-icon-wrapper size-sm"><span class="letter-icon">L</span></div>
                        </div>
                        <div class="item-inner">
                            <span class="title"> LEAD MANAGEMENT </span>
                        </div>
                    </div>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="crm.email">
                    <div class="item-content">
                        <div class="item-media">
                            <div class="letter-icon-wrapper size-sm"><span class="letter-icon">E</span></div>
                        </div>
                        <div class="item-inner">
                            <span class="title"> EMAIL CAMPAIGN </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- end: MAIN NAVIGATION MENU -->


