<!-- start: MAIN NAVIGATION MENU -->
<div class="sidebar-container">
    <div class="nav-user-wrapper">
        <div class="media">
            <div class="media-left">
                <a class="profile-card-photo" href="#"><img alt="" src="../../assets/images/profile.jpg"></a>
            </div>
            <div class="media-body">
                <span class="media-heading text-white">{{sidebar.user.firstName}} {{sidebar.user.lastName | uppercase |limitTo:1}}.</span>

                <div class="text-small text-white-transparent">{{sidebar.user.profile.role}}</div>
            </div>

            <div class="media-right media-middle">
                <div uib-dropdown>
                    <a  class="dropdown-toggle btn btn-transparent text-white" uib-dropdown-toggle><i
                            class="fa fa-caret-down"></i> </a>
                    <ul class="dropdown-menu pull-right animated fadeInRight">
                        <li ng-repeat="item in sidebar.user.menu">
                            <a ng-click="item.action()"> {{item.option}} </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="sidebar.logout()"> Log Out </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  

    <nav>
        <div class="navbar-title">
            <span>Main Navigation</span>
        </div>
        <ul class="main-navigation-menu">
            <li ui-sref-active="active" ng-repeat="item in sidebar.menu">
                <a ui-sref="{{item.state}}">
                    <div class="item-content">
                        <div class="item-media">
                            <div class="letter-icon-wrapper size-sm"><span class="letter-icon">{{item.alias | uppercase}}</span></div>
                        </div>
                        <div class="item-inner">
                            <span class="title"> {{item.title | uppercase}} </span>
                        </div>
                    </div>
                </a>
            </li>
         </ul>

    </nav>
</div>
<!-- end: MAIN NAVIGATION MENU -->


