<!--**** EMAIL VIEW ****-->
<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="email.cancel()"><i class="fa fa-times fs-14"></i></button>
  <h3 class="modal-title" style="margin-left: 15px;">Send Email</h3>
</div>
<div class="modal-body p-b-10">
  <div class="row margin-negative-left-15 margin-negative-right-15">
    <div class="col-md-12">

      <div class="col-md-6">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="TO" value="{{email.customer.email}}" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="CC">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div>

        <div class="form-group">
          <textarea class="form-control" rows="10" placeholder="ENTER MESSAGE"
                    style="resize: none; height: 400px;"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col-md-12">
    <button class="btn btn-warning btn-o" type="button" ng-click="email.cancel()">CANCEL</button>
    <button class="btn btn-primary btn-o" type="button" ng-click="email.ok()">SEND</button>
  </div>
</div>
<!--**** END OF EMAIL VIEW ****-->
