.tableBtn {
  border: none;
  height: 25px;
  width: 25px;
  padding: 2px;
  border-radius: 20px;
}


.dsc-fade-out {
  opacity: .2 !important;
}

.dsc-fade-in {
  opacity: 1 !important;
}

.dsc-stripped-row{
 background: #EFEFEF !important;
}

.dsc-clear-row {
  background: #FFF !important;
}
.add-note-style {
  max-width: 59%;
}
