<div class="row border-bottom no-margin">
  <nav class="navbar navbar-static-top {{$state.current.data.navbarColor}}" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <span minimaliza-sidebar></span>
      <form role="search" class="navbar-form-custom" method="post">
        <div class="form-group">
          <input type="text" placeholder="Search for something..." class="form-control" name="top-search"
                 id="top-search">
        </div>
      </form>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message" style="display:block!important;">{{days}} Days Remaining</span>
      </li>
      <li uib-dropdown ng-if="leads.length > 0">
        <a class="count-info p-l-20" href uib-dropdown-toggle>
          <i class="fa fa-user-times"></i> <span class="label label-danger pull-right b-r-50-pct">{{leads.length || 0}}</span>
        </a>
        <ul class="dropdown-messages" uib-dropdown-menu>
          <li ng-repeat="l in leads | limitTo:3" class="b-li-divider cursor-pointer" ng-click="assignLead(l)">
            <div class="dropdown-messages-box">
              <a ui-sref="profile" class="pull-left">
                <img alt="image" class="img-circle" src="assets/images/profile.jpg">
              </a>
              <div>
                <small class="pull-right">{{l.appointments[0].timeAgo}}</small>
                <strong>{{l.appointments[0].name}}</strong><br>
                <strong>{{l.appointments[0].time}}</strong><br/>
                <small class="text-muted">Scheduled by {{l.appointments[0].host.name}}</small><br/>
                <small class="m-l-77">Assigned Manager {{l.appointments[0].attendants[0].name}}</small>
              </div>
            </div>
          </li>
          <li>
            <div class="text-center link-block">
              <a ng-click="assignLead()">
                <i class="fa fa-user-plus text-navy">&nbsp;&nbsp;</i> <strong> Assign Leads To Sales Personnel</strong>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a href ng-click="logout()">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </nav>
</div>
