<div>
  <!-- Breadcrumbs -->
  <div class="row wrapper border-bottom white-bg page-heading" ng-if="$state.is('index.customer')">
    <div class="col-lg-10">
      <h2>My Customers</h2>
      <ol class="breadcrumb">
        <li class="active">
          <strong>Customers</strong>
        </li>
      </ol>
    </div>
  </div>
  <!-- ./breadcrumbs -->

  <div class="wrapper wrapper-content animated fadeInRight" ng-show="$state.is('index.customer')">
    <!-- Summary Metrics -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>TOTAL PROSPECTS</h5>
          </div>
          <div class="ibox-content">
            <div class="row cusTop">
              <div class="col-lg-6">
                <h1><i class="fa fa-briefcase cusTopIcon" aria-hidden="true"></i></h1>
              </div>
              <div class="col-lg-6">
                <h1 class="cusTopText">{{customers.summary.total || 0}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>DEAL WON</h5>
          </div>
          <div class="ibox-content">
            <div class="row cusTop">
              <div class="col-lg-6">
                <h1><i class="fa fa-thumbs-up cusTopThumbs" aria-hidden="true"></i></h1>
              </div>
              <div class="col-lg-6">
                <h1 class="cusTopText">{{customers.summary.won || 0}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>DEAL LOST</h5>
          </div>
          <div class="ibox-content">
            <div class="row cusTop">
              <div class="col-lg-6">
                <h1><i class="fa fa-thumbs-down cusTopThumbs" aria-hidden="true"></i></h1>
              </div>
              <div class="col-lg-6">
                <h1 class="cusTopText">{{customers.summary.lost || 0}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>JUST LOOKING</h5>
          </div>
          <div class="ibox-content">
            <div class="row cusTop">
              <div class="col-lg-6">
                <h1><i class="fa fa-tasks cusTopIcon" aria-hidden="true"></i></h1>
              </div>
              <div class="col-lg-6">
                <h1 class="cusTopText">{{customers.summary.just_looking || 0}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./summary metrics -->
    <!-- Customers Table -->
    <div class="row">
      <div class="col-xs-12" >
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <table datatable="ng" dt-options="customers.dtOptions"
                   class="table table-striped table-bordered table-hover dataTables-example" width="100%">
              <thead>
              <tr>
                <th style="width: 18% !important;">Name</th>
                <th style="width: 10% !important;">Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Purchase/Interest</th>
                <th>Status</th>
                <th style="width:7% !important;">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="c in customers.customersInfo" class="dashboard-table-w-avatar">
                <td style="cursor:pointer;">
                  <img alt="image" src="assets/images/profile.jpg"class="dashboard-table-avatar"><a href ng-click="customers.goToProfile(c)"> {{::c.profile.name | uppercase}}</a></td>
                <td ng-click="customers.composeText(c)" style="cursor:pointer;"><i class="fa fa-comments-o text-muted">&nbsp;&nbsp;</i>{{::c.profile.phone || 'UNAVAILABLE' | uppercase}}</td>
                <td ng-click="customers.composeMail(c)" style="cursor:pointer;"><i class="fa fa-envelope text-muted">&nbsp;&nbsp;</i>{{::c.profile.email || 'UNAVAILABLE' | uppercase}}</td>
                <td style="cursor:pointer; width:25% !important;">{{::c.profile.address | uppercase}}</td>
                <td>{{c.purchases[0] ? (c.purchases[0].Purchase.year + ' ' +c.purchases[0].Purchase.make+' '+c.purchases[0].Purchase.model) : 'NO PURCHASE' | uppercase}}</td>
                <td><span class="label"
                    ng-class="{'label-success': c.purchases && c.purchases.length > 0 && (c.purchases[0].status == 'sold' || c.purchases[0].status == 'delivered') ,
                               'label-danger': c.purchases && c.purchases.length > 0 && (c.purchases[0].status == 'working' || c.purchases[0].status == 'pending'),
                               'label-warning': c.purchases && c.purchases.length == 0}">
                  {{c.purchases && c.purchases.length > 0 ? c.purchases[0].status : '' | uppercase}}
                  {{c.purchases && c.purchases.length == 0 ? 'JUST LOOKING': ''}}
                </span>
                </td>
                <td >
                  <div>
                    <a ng-click="customers.editCustomer(c)" href class="btn btn-transparent btn-xs text-muted" tooltip-placement="top" uib-tooltip="Edit">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <a href  ng-click="" class="btn btn-transparent btn-xs text-muted" tooltip-placement="top" uib-tooltip="Add Note">
                      <i class="fa fa-sticky-note"></i></a>
                    <a href  class="btn btn-transparent btn-xs text-muted" tooltip-placement="top" uib-tooltip="Add Task">
                      <i class="fa fa-tasks"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- ./customers Table -->
  </div>
  <ui-view></ui-view>

</div>

<!-- small chat -->
<div class="small-chat-box height-355 ng-small-chat fadeInRight animated" ng-show="customers.openChat">

  <!-- Chat header -->
  <div class="heading padding-top-15">
    <span ng-click="customers.openChat = !customers.openChat" class="fa fa-times pull-right cursor-pointer ps-rl-tp-ng-5-r-ng-10">&nbsp;&nbsp;</span>
    <span class="small-chat-avatar pull-left">
      <img alt="image" src="assets/images/profile.jpg">
    </span>
    {{customers.chatRecipient.name}}
    <p>{{customers.chatRecipient.number}}</p>
  </div>

  <!-- Chat Content -->
  <div class="content" chat-slim-scroll>

    <div class="left">
      <div class="author-name">
        Monica Jackson
        <small class="chat-date">
          10:02 am
        </small>
      </div>
      <div class="chat-message active">
        Lorem Ipsum is simply dummy text input.
      </div>

    </div>
    <div class="right">
      <div class="author-name">
        Mick Smith
        <small class="chat-date">
          11:24 am
        </small>
      </div>
      <div class="chat-message">
        Lorem Ipsum is simpl.
      </div>
    </div>
    <div class="left">
      <div class="author-name">
        Alice Novak
        <small class="chat-date">
          08:45 pm
        </small>
      </div>
      <div class="chat-message active">
        Check this stock char.
      </div>
    </div>
    <div class="right">
      <div class="author-name">
        Anna Lamson
        <small class="chat-date">
          11:24 am
        </small>
      </div>
      <div class="chat-message">
        The standard chunk of Lorem Ipsum
      </div>
    </div>
    <div class="left">
      <div class="author-name">
        Mick Lane
        <small class="chat-date">
          08:45 pm
        </small>
      </div>
      <div class="chat-message active">
        I belive that. Lorem Ipsum is simply dummy text.
      </div>
    </div>


  </div>

  <!-- Chat Compose -->
  <div class="form-chat">
    <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
      class="btn btn-primary" type="button">Send
        </button> </span></div>
  </div>

</div>
