<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <navigation></navigation>

    <!-- Page wrapper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.title}}" page-height text="{{$state.current.title}}">

        <!-- Top Navbar -->
        <navbar></navbar>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <footer></footer>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
