<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content mailbox-content">
          <div class="file-manager">
            <a class="btn btn-block btn-primary compose-mail" ng-click="customerMessages.composeMail()">Compose Mail</a>

            <div class="space-25"></div>
            <h5>Folders</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
              <li><a> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right"></span> </a>
              </li>
              <li><a> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
              <li><a> <i class="fa fa-certificate"></i> Important</a></li>
              </li>
              <li><a> <i class="fa fa-trash-o"></i> Trash</a></li>
            </ul>
            <h5>Categories</h5>
            <ul class="category-list" style="padding: 0">
              <li><a href=""> <i class="fa fa-circle text-navy"></i> Work </a></li>
              <li><a href=""> <i class="fa fa-circle text-danger"></i> Documents</a></li>
              <li><a href=""> <i class="fa fa-circle text-primary"></i> Social</a></li>
              <li><a href=""> <i class="fa fa-circle text-info"></i> Advertising</a></li>
              <li><a href=""> <i class="fa fa-circle text-warning"></i> Customer</a></li>
            </ul>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 animated fadeInRight">
      <div class="mail-box-header">

        <form method="get" action="index.html" class="pull-right mail-search">
          <div class="input-group">
            <input type="text" class="form-control input-sm" name="search" placeholder="Search email">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-sm btn-primary">
                Search
              </button>
            </div>
          </div>
        </form>
        <h2>
          Inbox ({{customerMessages.inbox.length || 0}})
        </h2>

        <div class="mail-tools tooltip-demo m-t-md">
          <div class="btn-group pull-right">
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

          </div>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i
            class="fa fa-refresh"></i> Refresh
          </button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i
            class="fa fa-eye"></i></button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i
            class="fa fa-exclamation"></i></button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i
            class="fa fa-trash-o"></i></button>

        </div>
      </div>
      <div class="mail-box">

        <div class="height-337 p-t-150" ng-if="customerMessages.loadingInbox">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw center-block" style="margin-top:50px;"></i>
          <span class="sr-only">Loading...</span>
        </div>

        <div class="height-337 p-t-150 text-center" ng-if="!customerMessages.loadingInbox && customerMessages.inbox && customerMessages.inbox.length == 0">
          <p>There are no exchanged emails with this customer as of <strong>{{customerMessages.formatLastSync(customerMessages.thisCustomer.profile.lastEmailSync)}}</strong></p>
          <p><button class="btn btn-primary bth-xs"><i class="fa fa-refresh">&nbsp;&nbsp;</i> Sync Mails</button></p>
        </div>


        <table class="table table-hover table-mail" ng-if="!customerMessages.loadingInbox">
          <tbody>
          <tr ng-class="{'unread': email.status == 'unseen', 'read': email.status == 'seen'}"
              ng-repeat="email in customerMessages.inbox">
            <td class="check-mail">
              <input icheck type="checkbox" ng-model="email.selected">
            </td>
            <td class="mail-ontact"><a>{{email.name ? email.name : email.from}}</a> <span
              class="label label-warning pull-right" ng-if="email.from == customerMessages.thisCustomer.profile.email">Customer</span>
            </td>
            <td class="mail-subject"><a>{{email.subject || 'No Subject'}}</a></td>
            <td class=""><!--<i class="fa fa-paperclip"></i>--></td>
            <td class="text-right mail-date">{{email.timestamp}}</td>
          </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>

