<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="scheduleLead.cancel()"><i class="fa fa-times fs-14"></i></button>
  <h3 class="modal-title">Schedule Appointment</h3>
  <label class="tl" style="float: left;">Create a new opportunity</label>
</div>
<div class="modal-body p-b-10">
  <form name="scheduleLeadForm" role="form">
    <div class="row margin-negative-left-15 margin-negative-right-15">
      <div class="col-md-6">
        <div class="form-group">
          <label>Customer Name</label>
          <input type="text" class="form-control" ng-disabled="true" required ng-model="scheduleLead.appointment.name" placeholder="Name...">
        </div>

        <div class="form-group">
          <label>Schedule Appointment</label>
          <input type="text" placeholder="Appointment Date" class="form-control"
                 uib-datepicker-popup="{{scheduleLead.format}}"
                 ng-model="scheduleLead.dt"
                 is-open="scheduleLead.opened"
                 datepicker-options="scheduleLead.dateOptions" ng-required="true" close-text="Close"
                 alt-input-formats="scheduleLead.altInputFormats" min-date="scheduleLead.minDate"
                 ng-click="scheduleLead.opened = !scheduleLead.opened"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" class="form-control" ng-disabled="true" required ng-model="scheduleLead.appointment.phone" placeholder="Phone...">
        </div>

        <div class="form-group">
          <div class="m-t-38" uib-timepicker ng-required="true" ng-model="scheduleLead.dt"
               show-spinners = "false"
               show-meridian="true" type="text"
               placeholder="Appointment Time"></div>
        </div>

      </div>
    </div>

    <div class="row margin-negative-left-15 margin-negative-right-15">
      <div class="col-md-12">
        <div class="form-group">
          <label>Available Managers</label>
          <ui-select ng-model="scheduleLead.appointment.assignedManager" theme="bootstrap" ng-required="true">
            <ui-select-match placeholder="Managers">{{$select.selected.profile.name}}</ui-select-match>
            <ui-select-choices repeat="manager in scheduleLead.dealers[0].Teams[0].TeamManagers | filter: $select.search">
              <div ng-bind-html="manager.profile.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row margin-negative-left-15 margin-negative-right-15">
      <div class="col-md-12">
        <div class="form-group">
          <label>Notes</label>
            <textarea class="form-control" ng-required="true" style="height: 200px !important;" ng-model="scheduleLead.appointment.description"></textarea>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning btn-o" type="button" ng-click="scheduleLead.cancel()">Cancel</button>
  <button ladda="scheduleLead.saving" data-style="zoom-in" class="ladda-button btn btn-primary btn-o" type="button" ng-click="scheduleLead.create()"
          ng-disabled="scheduleLeadForm.$pristine || !scheduleLeadForm.$valid || scheduleLead.saving">Create Appointment
  </button>
</div>
