<div class="wrap-content container fade-in-up ng-cloak" id="container">
  <div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin inline">MY CUSTOMERS</h4>
		<span class="pull-right" style="margin-top:-8px">
			<a class="btn btn-wide btn-primary btn-o pull-right" href="" ng-click=""><i
        class="fa fa-user"></i> &nbsp;CREATE CUSTOMER</a>
		</span>
  </div>
	

  <div class="row no-margin">
      <div class="col-md-12" style="margin-top:15px;">
        <div class="panel panel-white no-radius no-margin">
				<div class="panel-heading border-light padding-30">
					<div class="row">
						<div class="col-lg-4 col-xs-5">
							<span class="input-icon">
								<input type="text" placeholder="Search customers..." id="form-field-14" class="form-control radius-10">
								<i class="ti-search"></i> </span>
						</div>
						<div class="col-lg-8 col-xs-7 text-right">
							<div class="btn-group margin-top-5 dropdown" uib-dropdown="" ng-init="selected='Newest'">
								<button id="split-button" type="button" class="btn btn-info btn-sm">
									Sort by: <span class="text-bold ng-binding">Newest</span>
								</button>
								<button type="button" class="btn btn-info btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
									<span class="caret"></span>
									<span class="sr-only">Split button!</span>
								</button>
								<ul uib-dropdown-menu="" role="menu" aria-labelledby="split-button" class="dropdown-menu">
									<li role="menuitem">
										<a href="#" ng-click="selected='Newest'">
											Newest
										</a>
									</li>
									<li role="menuitem">
										<a href="#" ng-click="selected='Oldest'">
											Oldest
										</a>
									</li>
									<li role="menuitem">
										<a href="#" ng-click="selected='Approved'">
											Approved
										</a>
									</li>
									<li role="menuitem">
										<a href="#" ng-click="selected='In Review'">
											In Review
										</a>
									</li>
									<li class="divider"></li>
									<li role="menuitem">
										<a href="#" ng-click="selected='Declined'">
											Declined
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
       <table class="table table-stylish">
                        <thead>
                            <tr>
                              <th class="no-border"></th>
                                <th class="no-border">Customer Name</th>
															 <th class="no-border">Email</th>
															 <th class="no-border">Phone Number</th>
                               <th class="no-border">Source</th>
                                <th class="no-border">Status</th>
                                <th class="no-border">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td class="center"><img alt="image" class="" src="assets/images/profile.jpg" style="width:25px; height:25px;"></td>
															<td >Cary Gaskell</td>
															 <td><a href="#" rel="nofollow">carylgaskell@gmail.com  </a></td>
															 <td> <a href="#" rel="nofollow">(555) 555-5555</a></td>
                               <td>Walk-in</td>
                               <td><span class="label label-sm label-warning">Pending</span></td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Email" ng-click="landing.emailCustomer();"><i class="fa fa-envelope"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Text"><i class="fa fa-commenting-o"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group dropdown" uib-dropdown="">
                                            <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                               <li>
                                                    <a href="#"> Email </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Edit </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Remove </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
													                            <tr>
                              <td class="center"><img alt="image" class="" src="assets/images/profile.jpg" style="width:25px; height:25px;"></td>
															<td>Luda Bear</td>
															 <td><a href="#" rel="nofollow">luda.bear@gmail.com  </a></td>
															 <td> <a href="#" rel="nofollow">(555) 555-5555</a></td>
                               <td>Walk-in</td>
                               <td><span class="label label-sm label-warning">Pending</span></td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Email" ng-click="landing.emailCustomer();"><i class="fa fa-envelope"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Text"><i class="fa fa-commenting-o"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group dropdown" uib-dropdown="">
                                            <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                               <li>
                                                    <a href="#"> Email </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Edit </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Remove </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
													
													                            <tr>
                              <td class="center"><img alt="image" class="" src="assets/images/profile.jpg" style="width:25px; height:25px;"></td>
															<td >Miles Johnson</td>
															 <td><a href="#" rel="nofollow">mile.johnson@gmail.com  </a></td>
															 <td> <a href="#" rel="nofollow">(555) 555-5555</a></td>
                               <td>Walk-in</td>
                               <td><span class="label label-sm label-warning">Pending</span></td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Email" ng-click="landing.emailCustomer();"><i class="fa fa-envelope"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Text"><i class="fa fa-commenting-o"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                      <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group dropdown" uib-dropdown="">
                                            <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                               <li>
                                                    <a href="#"> Email </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Edit </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Remove </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
													
													
												</tbody>
                    </table>	
					<nav class="tc">
              <ul class="pagination no-margin">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
            </nav>
					</div>
	</div>
    </div>
  </div>
  
  
</div>