<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times fs-14"></i></button>
            <h3 class="modal-title">Lead Assignment</h3>
  <label class="tl" style="float: left;">Assign Customer as Sales Lead</label>
        </div>
        <div class="modal-body p-b-10">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Customer</label>
                  <select class="cs-select cs-skin-elastic">
                      <option value="" disabled selected>Select a Customer</option>
                      <option value="Customer 1">Customer 1</option>
                      <option value="Customer 2">Customer 2</option>
                      <option value="Customer 3">Customer 3</option>
                      <option value="Customer 4">Customer 4</option>
                  </select>
              </div>
              <div class="form-group">
                <label>Interested In</label>
                  <select class="cs-select cs-skin-elastic">
                      <option value="" disabled selected>Select a Vehicle</option>
                      <option value="2011 Escape">2011 Escape</option>
                      <option value="Vehicle 2">Vehicle 2</option>
                      <option value="Vehicle 3">Vehicle 3</option>
                      <option value="Vehicle 4">Vehicle 4</option>
                  </select>
              </div>
              <div class="form-group">
              <label>Schedule Appointment</label>
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" show-weeks="false" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label>Assign To</label>
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>Select a Rep</option>
                        <option value="Rep 1">Rep 1</option>
                        <option value="Rep 2">Rep 2</option>
                        <option value="Rep 3">Rep 3</option>
                        <option value="Rep 4">Rep 4</option>
                    </select>
                </div>
              <div class="form-group">
                  <label>Trade</label>
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>Select a Vehicle</option>
                            <option value="1995 Pinto">1995 Pinto</option>
                            <option value="Vehicle 2">Vehicle 2</option>
                            <option value="Vehicle 3">Vehicle 3</option>
                            <option value="Vehicle 4">Vehicle 4</option>
                    </select>
                </div>
                <div class="form-group">
                  <label>Appointment Time</label>
                    <select class="cs-select cs-skin-elastic">
                        <option value="" disabled selected>Select a Time</option>
                            <option value="9:45 am">9:45 am</option>
                            <option value="10:00 am">10:00 am</option>
                            <option value="10:15 am">10:15 am</option>
                            <option value="10:30 am">10:30 am</option>
                    </select>
                </div>
            </div>
         </div>  
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Notes</label>
                <div class="note-editor">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-o" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary btn-o" type="button" ng-click="ok()">Assign Now</button>
      </div>