<div class="modal-header p-b-15">
  <button type="button" class="close" ng-click="addTask.cancel()"><i class="fa fa-times fs-14"></i></button>
            <h3 class="modal-title">Task Assignment</h3>
  <label class="tl" style="float: left;">Assign Task to a Sales Rep</label>
        </div>
        <div class="modal-body p-b-10">
          <div class="row margin-negative-left-15 margin-negative-right-15">
            <div class="col-md-6">
              <div class="form-group">
                <label>Sales Rep</label>
                  <ui-select ng-model="addTask.newTask.rep" theme="bootstrap" style="margin-right:5px; margin-left:5px;">
                      <ui-select-match placeholder="Assign Sales Rep...">{{$select.selected.name | cut:true:35}}
                      </ui-select-match>
                      <ui-select-choices repeat="rep in addTask.salesReps | filter: $select.search">
                          <div ng-bind-html="rep.name | highlight: $select.search"></div>
                          <small>{{rep.email}}</small>
                      </ui-select-choices>
                  </ui-select>
              </div>


             <div class="form-group">
                <label>Customer</label>
                 <ui-select ng-model="addTask.newTask.customer" theme="bootstrap" style="margin-right:5px; margin-left:5px;">
                     <ui-select-match placeholder="Assign Customer...">{{$select.selected.name | cut:true:35}}
                     </ui-select-match>
                     <ui-select-choices repeat="customer in addTask.customers | filter: $select.search">
                         <div ng-bind-html="customer.name | highlight: $select.search"></div>
                         <small>{{customer.email}}</small>
                     </ui-select-choices>
                 </ui-select>
              </div>

              <div class="form-group">
              <label>Schedule Appointment</label>
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="addTask.newTask.date" show-weeks="false" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Task Category</label>
                  <ui-select ng-model="addTask.newTask.category" theme="bootstrap" style="margin-right:5px; margin-left:5px;">
                      <ui-select-match placeholder="Select Category...">{{$select.selected.name | cut:true:35}}
                      </ui-select-match>
                      <ui-select-choices repeat="cat in addTask.categories | filter: $select.search">
                          <div ng-bind-html="cat.title | highlight: $select.search"></div>
                      </ui-select-choices>
                  </ui-select>
              </div>
              <div class="form-group">
                  <label>Vehicle</label>
                  <ui-select ng-model="addTask.newTask.vehicle" theme="bootstrap" style="margin-right:5px; margin-left:5px;">
                      <ui-select-match placeholder="Select Category...">{{$select.selected.name | cut:true:35}}
                      </ui-select-match>
                      <ui-select-choices repeat="vehicle in addTask.vehicles | filter: $select.search">
                          <div ng-bind-html="vehicle.title | highlight: $select.search"></div>
                      </ui-select-choices>
                  </ui-select>
                </div>
                <div class="form-group">
                  <label>Appointment Time</label>
                        <div class="" uib-timepicker ng-model="addTask.newTask.time"
                             show-spinners = "false"
                             show-meridian="true" type="text"
                             placeholder="Appointment Time"></div>
                </div>
            </div>
         </div>
      <div class="row margin-negative-left-15 margin-negative-right-15">
        <div class="col-md-12">
          <div class="form-group">
            <label>Task Details</label>
                <textarea class="form-control" rows="5" ng-model="addTask.newTask.details"></textarea>
            </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-o" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary btn-o" type="button" ng-click="ok()">Assign Now</button>
      </div>
