<div class="row wrapper border-bottom white-bg page-heading p-r-0" style="margin:0;">
    <!-- breadcrumns -->
    <div class="col-md-4">
        <h2>Tasks</h2>
        <ol class="breadcrumb">
            <li>
                <a>Tasks</a>
            </li>
            <li class="active">
                <strong class="text-capitalize">Tasks</strong>
            </li>
        </ol>
    </div>
    <!-- /. breadcrumbs -->

    <!-- tabs -->
    <div class="col-sm-8 p-r-0">
        <div class="col-sm-4 no-padding">

        </div>
        <div class="col-sm-8 no-padding">
            <div class="col-sm-4 no-margins no-padding text-center pull-right" style="width:121px;">
                <div class="profile-tab navy-bg" ng-click="task.viewOptions = 'calendar'">
                    <div class="profile-tab-icon m-t-5 m-l-26 no-border">
                        <i class="fa fa-calendar f-sz-22"></i>
                    </div>
                    <small class="p-t-42">CALENDAR</small>
                </div>
            </div>
            <div class="col-sm-4 no-margins no-padding text-center pull-right" style="width:121px;">
                <div class="profile-tab blue-bg no-border-right" ng-click="task.viewOptions = 'list'">
                    <div class="profile-tab-icon m-t-5 m-l-26 no-border">
                        <i class="fa fa-list f-sz-22"></i>
                    </div>
                    <small class="p-t-42">TASK LIST</small>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ tabs -->
</div>

<div class="wrapper wrapper-content animated fadeInRight hideSansDelay" ng-hide="task.viewOptions === 'calendar'" style="padding-top: 20px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Tasks</h5>
                    <div class="ibox-tools">
                        <a ng-click="task.addTask()" class="btn btn-primary btn-xs">Add new task</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="m-b-lg">

                        <div class="input-group">
                            <input type="text" placeholder="Search issue by name..." class=" form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-white"> Search</button>
                                    </span>
                        </div>
                        <div class="m-t-md">

                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>
                            </div>

                            <strong>Found {{task.tasks.length}} issues.</strong>



                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Details</th>
                                <th>Assigned To</th>
                                <th>Due Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="task in task.tasks">
                                <td>
                                    <span ng-if="task.status === 0" class="label label-danger">Incomplete</span>
                                    <span ng-if="task.status === 1" class="label label-primary">Complete</span>
                                    <span ng-if="task.status === 2" class="label label-warning">Pending</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#">
                                        {{task.title}}
                                    </a>

                                    <small>
                                        {{task.description | cut:true:200}}
                                    </small>
                                </td>
                                <td>
                                    {{task.assignee.first_name}}, {{task.assignee.last_name}}
                                </td>
                                <td>
                                    {{task.due_date.date}} {{task.due_date.time}}
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs"> Edit</button>
                                    <button class="btn btn-danger btn-xs"> Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<div class="wrapper wrapper-content  animated fadeInRight hideSansDelay" ng-if="task.viewOptions === 'calendar'">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Events List</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div id='external-events'>
                        <p>Message from functions:
                            <br/>
                        <div class="alert alert-warning" ng-show="task.alertMessage">
                            {{task.alertMessage}}
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Task Calendar</h5>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content ui-calendar">
                    <div ui-calendar="task.uiConfig.calendar" calendar="myCalendar1" class="calendar" ng-model="task.eventSources"></div>
                </div>
            </div>
        </div>
    </div>
</div>
